
html {
  scroll-behavior: smooth;
}
a {
	text-decoration: none;
	color: #2d2a28;
}
a:hover {
	text-decoration: none;
}


@media only screen and (max-width: 1600px) and (min-width: 1367px) {
    
}
@media only screen and (max-width: 1366px) and (min-width: 1024px) {

}
@media only screen and (max-width: 425px)  { 

}

@media only screen and (max-width: 320px)  {
    
}